
$font-family: 'Roboto', sans-serif;

$button-primary-bg : #222;
$button-primary-text_color: #fff;
$button-primary-border: 1px solid #222;

$button-secondary-bg : #fff;
$button-secondary-text_color: #222;
$button-secondary-border: 1px solid #222;